{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a class="navbar-brand" href="/"><img src="{% static 'Images/final-logo.png' %}" alt="logo" class="img mt-2"></a>
        </div>
        <div class="col-sm-6">
            <ul class="navbar-right">
                <li>
                    <a href="{% url 'account_login' %}"><button class="btn btn-danger sign-btn">Sign in</button></a>
                </li>
            </ul>             
        </div>

    </div>
</div>


